# Ignore config files
config/settings.py

# Ignore user uploaded and generated data
data/

# Ignore database file
*.db

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore venv
_quizzer_venv/

# Ignore vscode files
.vscode/
